@font-face {
    font-family: 'pfdin_pro_reg';
    src: url('../fonts/PFDINTextPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pfdin_pro_bold';
    src: url('../fonts/PFDINTextPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pfdin_pro_medium';
    src: url('../fonts/PFDINTextPro-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}